.card
{
  padding-bottom:   10px;

  &__image
  {
    padding:  10px;

    img
    {
      width:    250px;
      height:   250px;
    }
  }

  &__content
  {
    padding:  10px;
  }

  &__title
  {

  }

  &__data
  {

  }

  &__description
  {

  }

  &__action
  {
    padding:  10px;
  }

  &__left
  {
    float:  left;
  }

  &__right
  {
    float:  right;
  }

  &__input_title
  {

  }

  &__input_description
  {

  }

  &__input_image
  {

  }

  &__input_date
  {

  }

  &__button
  {

  }

  &__button_cancel
  {
    margin-right:   10px;
    float:          left;

    .btn
    {
      color:              $color__material__grey;
      background-color:   $color__light_grey;
    }
  }

  &__button_save
  {
    float:          left;

    .btn
    {

    }
  }
}
