// color
$color__black:                  #000000;
$color__white:                  #ffffff;

$color__light_grey:             #fefefe;


// color - material design
$color__material__green:        #4CAF50;
$color__material__grey:         #424242;
